<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="javascripts/script.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <button type="button" onclick="document.getElementsByClassName('force').style.display = 'block' ">Codeforces </button>
        <button type="button" onclick="cc()">Codechef</button>
        <button type="button" onclick="lc()">Leetcode </button>
        <button type="button" onclick="ac()">Atcoder</button>
        <button type="button" onclick="he()">HackerEarth </button>
        <button type="button" onclick="ks()">KickStart</button>
      </div>
    </div>
    <div class="container"> 
      <div class="force">
        <h1>Codeforces</h1>
        <table>
          <tr>
            <th>Contest Name</th>
            <th>Status</th>
            <th>Start-Date </th>
            <th>Duration</th>
          </tr>
        </table>
      </div>
    </div>
    <div class="container"> 
      <div class="chef">
        <h1>CodeChef</h1>
        <table>
          <tr>
            <th>Contest Name</th>
            <th>Status</th>
            <th>Start-Date </th>
            <th>Duration</th>
          </tr>
        </table>
      </div>
    </div>
    <div class="container"> 
      <div class="code">
        <h1>LeetCode</h1>
        <table>
          <tr>
            <th>Contest Name</th>
            <th>Status</th>
            <th>Start-Date </th>
            <th>Duration</th>
          </tr>
        </table>
      </div>
    </div>
    <div class="container"> 
      <div class="coder">
        <h1>AtCoder</h1>
        <table>
          <tr>
            <th>Contest Name</th>
            <th>Status</th>
            <th>Start-Date </th>
            <th>Duration</th>
          </tr>
        </table>
      </div>
    </div>
    <div class="container"> 
      <div class="earth">
        <h1>HackerEarth</h1>
        <table>
          <tr>
            <th>Contest Name</th>
            <th>Status</th>
            <th>Start-Date </th>
            <th>Duration</th>
          </tr>
        </table>
      </div>
    </div>
    <div class="container"> </div>
    <div class="start">
      <h1>KickStart</h1>
      <table>
        <tr>
          <th>Contest Name</th>
          <th>Status</th>
          <th>Start-Date </th>
          <th>Duration</th>
        </tr>
      </table>
    </div>
    <div class="container"> 
      <p id="demo">Here       </p>
    </div>
  </body>
</html>